@model WebSite.ViewModels.GameBoardViewModel

@{
    ViewBag.Title = "GameBoard";
}

<h2>GameBoard</h2>

<h3>Player 1:</h3>
Click image to Choose your weapon...
<ul>
    <li style="display: inline">
        <a href="@Url.Action("PlayRock")">
            <img src="~/Images/rock.png"/>
        </a>
        
    </li> 
    <li style="display: inline">
        <img src="~/Images/paper.png" />
        
    </li> 
    <li style="display: inline">
        <img src="~/Images/scissors.png"/>
    </li> 
</ul>

<br/>
<br/>

<h3>Computer</h3>
Computer will choose after you click but won't cheat, promise....
<ul>
    <li style="display: inline">
        <img src="~/Images/rock.png"/>
        
    </li> 
    <li style="display: inline">
        <img src="~/Images/paper.png" />
        
    </li> 
    <li style="display: inline">
        <img src="~/Images/scissors.png"/>
    </li> 
</ul>

<br/>
<br/>

<h2>And the winner is...</h2>
<ul>
    <li><label>Winner: @Model.WinnerText</label></li>
    <li style="display: inline">
        
        <img src="@Model.WinnerImage"/>
    </li>
    <li><label>Loser: @Model.LoserText</label></li>
    <li style="display: inline">
        
        <img src="@Model.LoserImage"/>
    </li>

</ul>

<h3>@Model.ResultText</h3>

@Html.ActionLink("Reset board", "GameBoard")